@{
    ViewData["Title"] = "Payment ";
    ViewBag.PaymentTypes = new List<string>{
               "Physical product",
                "Book",
                "Membership",
                "Upgrade",
                "Learning to Ski video"
            };
}

<div class="text-center">
    <h1 class="display-4">Payment Engine</h1>
    <br />
    @using (Html.BeginForm())
    {
        <fieldset>
            Payment Type:
            @Html.DropDownList("PaymentType", new SelectList(ViewBag.PaymentTypes), "Select Payment Type")
            <p>
                <br />
                <input type="submit" value="Submit" onclick="return PaymentSelection()" />
            </p>
        </fieldset>
    }

    <div>
        <h6>Operation Performed:</h6>
        <p style="color:green"> @ViewBag.Result </p>
    </div>
</div>


<script type="text/javascript">
    function PaymentSelection()
    {
        var selection = document.getElementById('PaymentType').value;
        if (selection == '') {
            alert("Select a payment type");
            return false;
        }
        return true;
    }
</script>